In [1]:
pip install -i https://test.pypi.org/simple/ BVCscrap==0.2.0

Looking in indexes: https://test.pypi.org/simple/, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting BVCscrap==0.2.0
  Downloading https://test-files.pythonhosted.org/packages/0c/33/294d9a809a611606a4d0b7a73469ee548b4527f40a24899ea25decc1294b/BVCscrap-0.2.0-py3-none-any.whl (13 kB)
Installing collected packages: BVCscrap
Successfully installed BVCscrap-0.2.0

In [5]:
import BVCscrap  as bvc

In [6]:
#You must respect the notation
bvc.notation()

['Addoha',
 'AFMA',
 'Afric Indus',
 'Afriquia Gaz',
 'Agma',
 'Alliances',
 'Aluminium Maroc',
 'Aradei Capital',
 'ATLANTASANAD',
 'Attijariwafa',
 'Auto Hall',
 'Auto Nejma',
 'BALIMA',
 'BOA',
 'BCP',
 'BMCI',
 'Cartier Saada',
 'CDM',
 'Central Danone',
 'CIH',
 'Ciments Maroc',
 'CMT',
 'Colorado',
 'COSUMAR',
 'CTM',
 'Dari Couspate',
 'Delattre Lev',
 'Delta Holding',
 'Diac Salaf',
 'DISWAY',
 'Ennakl',
 'EQDOM',
 'FENIE BROSSETTE',
 'HPS',
 'IBMaroc',
 'Immr Invest',
 'INVOLYS',
 'Jet Contractors',
 'LABEL VIE',
 'LafargeHolcim',
 'Lesieur Cristal',
 'Lydec',
 'M2M Group',
 'Maghreb Oxygene',
 'Maghrebail',
 'Managem',
 'Maroc Leasing',
 'Maroc Telecom',
 'Med Paper',
 'Microdata',
 'Mutandis',
 'Nexans Maroc',
 'Oulmes',
 'PROMOPHARM',
 'Rebab Company',
 'Res.Dar Saada',
 'Risma',
 'S2M',
 'Saham Assurance',
 'SALAFIN',
 'SAMIR',
 'SMI',
 'Stokvis Nord Afr',
 'SNEP',
 'SODEP',
 'Sonasid',
 'SRM',
 'Ste Boissons',
 'STROC Indus',
 'TAQA Morocco',
 'Timar',
 'Total Maroc',
 'Unimer',
 'SOTHEMA',
 'Wafa Assur',
 'Zellidja',
 'MASI',
 'MSI20']

In [7]:
data=bvc.loadata('BCP',start='2021-09-01',end='2021-09-10')
data

            Value     Min    Max  Variation  Volume
Date
01/09/2021  270.9  270.00  271.0       0.11   28095
02/09/2021  270.9  270.00  270.9       0.00   55744
03/09/2021  271.0  270.05  271.0       0.04   26533
06/09/2021  270.2  270.10  270.2      -0.30    2119
07/09/2021  271.0  270.20  271.0       0.30   30689
08/09/2021  271.5  270.70  271.5       0.18   17551
09/09/2021  275.0  271.50  275.0       1.29  228151
10/09/2021  272.0  272.00  275.0      -1.09   13718

In [8]:
data=bvc.loadata('MSI20',start='2022-09-01',end='2022-09-5')
data

                 Value
labels
2022-09-01  980.633689
2022-09-02  981.350658
2022-09-05  982.005686

In [9]:
data=bvc.loadmany('BCP','CIH')
data.tail()

               BCP    CIH
Date
11/11/2022  210.00  298.8
14/11/2022  217.90  299.9
15/11/2022  220.00  285.0
16/11/2022  220.05  284.0
17/11/2022  227.00  284.0

In [11]:
data=bvc.loadmany(['BCP','BMCI','BOA','CIH'],start="2021-08-30",end='2021-09-04')
data

              BCP   BMCI     BOA     CIH
Date
30/08/2021  271.1  671.1  175.00  277.40
31/08/2021  270.6  670.0  174.00  284.00
01/09/2021  270.9  670.0  174.80  284.00
02/09/2021  270.9  670.0  175.00  280.00
03/09/2021  271.0  670.0  174.45  283.95

In [12]:
data=bvc.loadmany(['BCP','BMCI','BOA','CIH'],start="2021-08-30",end='2021-09-04',feature="Volume")
data

              BCP  BMCI   BOA   CIH
Date
30/08/2021    702    33   172    53
31/08/2021  69575  2515  5853  1005
01/09/2021  28095  2515  3700  1005
02/09/2021  55744  2353    14    50
03/09/2021  26533  2353  8300   500

In [14]:
data=bvc.getIntraday('BCP')
data

Empty DataFrame
Columns: [Value]
Index: []

In [15]:
index=bvc.getIndex()
index.keys()

dict_keys(['Resume indice', 'Indice rentabilite', 'Indices en devises', 'Indice FTSE', 'Indices sectoriels'])

In [16]:
index["Resume indice"]

{'Morocco Stock Index 20': {'Valeur': '871,85',
  'Veille': '851,85',
  'Var %': '2,35 % ',
  'Plus Haut': '871,85',
  'Plus Bas': '851,85',
  'Var % 31/12': '-19,70 % '},
 'MASI': {'Valeur': '10821,89',
  'Veille': '10621,27',
  'Var %': '1,89 % ',
  'Ouverture': '10621,27',
  'Plus Haut': '10832,16',
  'Plus Bas': '10621,27',
  'Var % 31/12': '-18,99 % '},
 'Casablanca ESG 10': {'Valeur': '817,99',
  'Veille': '799,40',
  'Var %': '2,33 % ',
  'Ouverture': '799,40',
  'Plus Haut': '817,99',
  'Plus Bas': '799,40',
  'Var % 31/12': '-18,04 % '},
 'FTSE CSE Morocco 15 Index': {'Valeur': '9936,29',
  'Veille': '9708,01',
  'Var %': '2,35 % ',
  'Ouverture': '9772,63',
  'Plus Haut': '9936,29',
  'Plus Bas': '9766,87',
  'Var % 31/12': '-20,75 % '},
 'FTSE CSE Morocco All-Liquid': {'Valeur': '9066,72',
  'Veille': '8872,81',
  'Var %': '2,19 % ',
  'Ouverture': '8933,91',
  'Plus Haut': '9066,72',
  'Plus Bas': '8925,66',
  'Var % 31/12': '-19,38 % '}}

In [19]:
for key in index.keys():
    print(index[key])

{'Morocco Stock Index 20': {'Valeur': '871,85', 'Veille': '851,85', 'Var %': '2,35 % ', 'Plus Haut': '871,85', 'Plus Bas': '851,85', 'Var % 31/12': '-19,70 % '}, 'MASI': {'Valeur': '10821,89', 'Veille': '10621,27', 'Var %': '1,89 % ', 'Ouverture': '10621,27', 'Plus Haut': '10832,16', 'Plus Bas': '10621,27', 'Var % 31/12': '-18,99 % '}, 'Casablanca ESG 10': {'Valeur': '817,99', 'Veille': '799,40', 'Var %': '2,33 % ', 'Ouverture': '799,40', 'Plus Haut': '817,99', 'Plus Bas': '799,40', 'Var % 31/12': '-18,04 % '}, 'FTSE CSE Morocco 15 Index': {'Valeur': '9936,29', 'Veille': '9708,01', 'Var %': '2,35 % ', 'Ouverture': '9772,63', 'Plus Haut': '9936,29', 'Plus Bas': '9766,87', 'Var % 31/12': '-20,75 % '}, 'FTSE CSE Morocco All-Liquid': {'Valeur': '9066,72', 'Veille': '8872,81', 'Var %': '2,19 % ', 'Ouverture': '8933,91', 'Plus Haut': '9066,72', 'Plus Bas': '8925,66', 'Var % 31/12': '-19,38 % '}}
{'MASI-Rentabilite Brut': {'Valeur': '32570,27', 'Var %': '1,89 % ', 'Var % 31/12': '-16,25 % '}, 'MASI-Rentabilite Net': {'Valeur': '28687,52', 'Var %': '1,89 % ', 'Var % 31/12': '-16,66 % '}}
{'MASI Dollar': {'Valeur': '8226,70', 'Var %': '1,38 % ', 'Var % 31/12': '-29,87 % '}, 'MASI Euro': {'Valeur': '10048,15', 'Var %': '2,18 % ', 'Var % 31/12': '-23,17 % '}}
{'FTSE Dollar': {'Valeur': '8185,75', 'Var %': '0,58 % ', 'Var % 31/12': '-32,85 % '}, 'FTSE Euro': {'Valeur': '10473,59', 'Var %': '0,39 % ', 'Var % 31/12': '-26,62 % '}, 'FTSE TR': {'Valeur': '15080,06', 'Var %': '0,59 % ', 'Var % 31/12': '-19,93 % '}, 'FTSE All-liquid Dollar': {'Valeur': '7481,52', 'Var %': '0,71 % ', 'Var % 31/12': '-31,58 % '}, 'FTSE All-liquid Euro': {'Valeur': '9572,53', 'Var %': '0,52 % ', 'Var % 31/12': '-25,23 % '}, 'FTSE All-liquid TR': {'Valeur': '14083,34', 'Var %': '0,72 % ', 'Var % 31/12': '-18,43 % '}}
{'LOISIRS ET HOTELS': {'Valeur': '502,34', 'Var%': '3,21 % ', 'Var% 31/12': '1,14 % '}, 'BANQUES': {'Valeur': '11765,53', 'Var%': '3,16 % ', 'Var% 31/12': '-16,59 % '}, 'BATIMENT & MATERIAUX DE CONSTRUCTION': {'Valeur': '14983,29', 'Var%': '2,43 % ', 'Var% 31/12': '-30,41 % '}, 'TELECOMMUNICATIONS': {'Valeur': '1523,47', 'Var%': '1,91 % ', 'Var% 31/12': '-25,56 % '}, 'AGROALIMENTAIRE / PRODUCTION ': {'Valeur': '28547,69', 'Var%': '1,52 % ', 'Var% 31/12': '-22,91 % '}, 'SERVICES DE TRANSPORT': {'Valeur': '3276,92', 'Var%': '1,43 % ', 'Var% 31/12': '-23,90 % '}, 'MINES': {'Valeur': '32752,16', 'Var%': '1,42 % ', 'Var% 31/12': '27,90 % '}, 'SOCIETES DE PLACEMENT IMMOBILIER': {'Valeur': '1029,80', 'Var%': '0,87 % ', 'Var% 31/12': '2,87 % '}, 'PETROLE & GAZ': {'Valeur': '17447,73', 'Var%': '0,82 % ', 'Var% 31/12': '-18,77 % '}, 'MATERIELS,LOGICIELS & SERVICES INFORMATIQUES': {'Valeur': '2526,60', 'Var%': '0,47 % ', 'Var% 31/12': '-8,56 % '}, 'ASSURANCES': {'Valeur': '4408,86', 'Var%': '0,46 % ', 'Var% 31/12': '-20,16 % '}, 'INDUSTRIE PHARMACEUTIQUE': {'Valeur': '7943,66', 'Var%': '0,32 % ', 'Var% 31/12': '-4,23 % '}, 'PARTICIPATION ET PROMOTION IMMOBILIERES': {'Valeur': '2633,95', 'Var%': '0,31 % ', 'Var% 31/12': '-23,36 % '}, 'DISTRIBUTEURS': {'Valeur': '40902,08', 'Var%': '0,29 % ', 'Var% 31/12': '-14,49 % '}, 'BOISSONS': {'Valeur': '13062,40', 'Var%': '-', 'Var% 31/12': '-18,50 % '}, 'SERVICES AUX COLLECTIVITES': {'Valeur': '916,67', 'Var%': '-', 'Var% 31/12': '-6,80 % '}, 'TRANSPORT': {'Valeur': '1935,90', 'Var%': '-', 'Var% 31/12': '-24,45 % '}, 'CHIMIE': {'Valeur': '5829,82', 'Var%': '-0,27 % ', 'Var% 31/12': '-7,57 % '}, 'SYLVICULTURE & PAPIER': {'Valeur': '39,77', 'Var%': '-0,34 % ', 'Var% 31/12': '33,40 % '}, 'ELECTRICITE': {'Valeur': '2245,81', 'Var%': '-1,47 % ', 'Var% 31/12': '-4,29 % '}, 'SOCIETE DE FINANCEMENT & AUTRES ACTIVITES FINANCIERES': {'Valeur': '7326,23', 'Var%': '-1,91 % ', 'Var% 31/12': '-17,25 % '}, 'SOCIETES DE PORTEFEUILLES - HOLDINGS': {'Valeur': '3503,29', 'Var%': '-2,06 % ', 'Var% 31/12': '-30,05 % '}, 'INGENIERIES & BIENS D\x80\x99EQUIPEMENT INDUSTRIELS': {'Valeur': '104,20', 'Var%': '-2,73 % ', 'Var% 31/12': '-13,64 % '}}

In [20]:
recap=bvc.getIndexRecap()
recap.keys()

dict_keys(['Indice', 'Volume Global', 'Plus forte hausse', 'Plus forte baisse'])

In [21]:
recap

{'Indice': {'Morocco Stock Index 20': {'Cours': '871,85',
   'Var%': '2,35 % ',
   'Var31/12': '-19,70 % '},
  'MASI Flottant': {'Cours': '10821,89',
   'Var%': '1,89 % ',
   'Var31/12': '-18,99 % '},
  'Casablanca ESG 10': {'Cours': '817,99',
   'Var%': '2,33 % ',
   'Var31/12': '-18,04 % '}},
 'Volume Global': '87974540,64',
 'Plus forte hausse': {'Instrument': ' FENIE BROSSETTE',
  'Cours': '137,75',
  'Difference': '7,75 ',
  'Difference en %': '5,96 % '},
 'Plus forte baisse': {'Instrument': 'DELATTRE LEVIVIER MAROC',
  'Cours': '44,86',
  'Difference': '-2,86 ',
  'Difference en %': '-5,99 % '}}